name: bracepl_fund_management
description: A robust, fully responsive flutter mobile application for fund management based on Clean Architecture and Bloc.

version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  
  flutter_bloc: ^9.1.1
  bloc: ^9.1.0
  equatable: ^2.0.7
  dartz: ^0.10.1
  get_it: ^9.1.0
  shared_preferences: ^2.5.3
  fl_chart: ^1.1.1
  http: ^1.6.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
  # assets:
  #   - assets/
